#game-wrapper{
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	width: auto; 
	max-width: 1620px;
	min-width: 800px;
	height: auto; 
	overflow: hidden    
}

#game-tile-background{
	position: relative;

}

#game-grid-container{
	position: relative; 
	overflow: hidden;
	background-color: rgba(0, 0, 0, .65);

}

.gameContainer_shell{
	position: absolute;
	
	overflow: hidden;
	opacity: 1;	
}


#plane-1-container{
	position: absolute;
	top: 0;
	left: 0;
	
	background-color: rgba(0, 255, 0, .5);
	
}

#plane-2-container{
	position: absolute;
	top: 0;
	left: 0;
	
	background-color: rgba(255, 0, 0, .5);
	color: white;
	
	
}


#canvasContainer_a{
	position: absolute;

}


#canvasContainer_b{
	position: absolute;
	
}

#progressBar{
	position: absolute;	
	padding: 10px;
	background-color: white; 

}

.progressfadeOut{
	top: -50%;
	opacity: 0;
	pointer-events: none;
    -webkit-transition-delay: .75s; /* Safari */
    transition-delay: 0.25s;
	transition: 1.5;
}

.progressfadeIn{
	top: 25%;
	opacity: 1;
	transition: 1.5s;
}



#hidden-windows-container{
	background-color: black;
	color: white;
}

#game-grid-top{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	color: white;
}

#game-grid-top-seciton{
	padding: 10px 0px 15px 0px; 
	background-color: rgba(150, 0, 75, .9);
}

#game-grid-bottom{
	position: absolute;
	width: 100%;
	left: 0;	
	bottom: 0px;

	background-color: rgba(150, 0, 75, .9);
	color: white;

	padding: 5px 0px 10px 10px;
}

#fpsContainer{
	position: absolute;
	width: auto;
	height: auto;
	bottom: 5%;
	right: 2%;

	transition: .5s;

}
#fpsContainer:hover{
	transition: .5s;
	opacity: 1
}


#game-grid-bottom-info-a{
	position: absolute;
	width: 50%;
	height: auto;
	bottom: 50%;
	left: 25%;

	background-color: rgba(2, 0, 0, .75);
	border: 5px solid black;
	color: white;

	transition: .5s;
}

#game-grid-bottom-info-a:hover{
	transition: .5s;
	opacity: 1;
}

#ui-toolbar{
    position: absolute;
    width: 65px;
    height: 80%;
    padding: 5px;
    top: 10%;
    left: 1%;

    background-color: rgba(75, 75, 75, .75);
    border: 2px solid black;
    color: white;

}


#ui-eventbuilder{
    position: absolute;
    width: 250px;
    height: auto;
    top: 10%;
    left: 100px;

    background-color: rgba(75, 75, 75, .75);
    border: 2px solid black;
    color: white;

}

#game-grid-bottom-info-b{
	position: absolute;
	width: auto;
	height: auto;
	top: 7%;
	padding-right: 10px;
	left: 0px;
	color: white;
	transition: .5s;	
}


#game-grid-bottom-info-c{
	position: absolute;
	bottom: 2%;
	width: auto;
	height: auto;
	
	padding-right: 10px;
	left: 0px;
	color: white;
	transition: .5s;

}




#game-grid-window-a{
	position: absolute;
	width: 90%;
	height: auto;
	top: 15%;
	left: 5%;
	color: black;
	padding: 5px 0px 10px 10px;
}



.active-outline{
	border: 5px solid white;
	
}


.game-tile{
	position: relative;
	float: left;
	transition: .5s;
}



.game-small-window{
	width: 10%;
	min-width: 150px; 
	text-align: left; 
	background-color: teal;	
	padding: 10px; 
	float: right;
	
	margin-right: 15px;  
}

.game-window-description{
	width: 50%; 
	float: left;	
}

.game-window-options{
	width: 50%; 
	float: left; 
	text-align: right;
	margin-top: 3px; 
	font-size: .8em;
}

.hidden-windows-button{
	float: right; 
	width: 20%;
	min-width: 100px; 
	cursor: pointer;
}

.gameMask{
	position: absolute;
	top: 0px;	
	width: 100%;
	height: 100%;
	transition: 0s;
		-webkit-transition-delay: .75s; /* Safari */
    	transition-delay: .75s;	
	background-color: white;
	opacity: 1;
	pointer-events: none;			
}


.fadeOut{
	opacity: 0;
	transition: 2;
}

.fadeIn{
	opacity: 1;
	transition: 2s;
}

.pointer{
	cursor: pointer;
}

.hideForLoad{
	opacity: 0;
}

.closeBtn{
	z-index: 10;
	position: absolute;
	width: 20px;
	height: 20px;
	right: 0px;
	top: 0px; 
	color: white;
	transition: .25s;	
}

.closeBtn:hover{
	color: red;
	background-color: rgba(255, 255, 255. 5);
	transition: .25s;
	cursor: pointer;
}



input[type=range], ::-moz-range-track, ::-ms-track {
-webkit-appearance: none;
background-color: 3f91e5;
width: 250px;
height:20px;
}

