<div>
	<div class="container" >
		<br>
		<button class="small-3 columns" ng-click="offcanvasToggle('home')">
			<i class="fa fa-home fa-2x"></i>
			<br>
			<small>Home</small>	
		</button>

		<button class="small-8 small-offset-1 button success columns" ng-click="offcanvasToggle('page1')">
			<i class="fa fa-bookmark-o fa-2x"></i>
			<br>
			<small>AngularUI</small>	
		</button>		
		
		<br>
		
		<button class="small-6 button secondary columns" ng-click="offcanvasToggle('page2')">
			<i class="fa fa-bookmark-o fa-2x"></i>
			<br>
			<small>Foundation</small>	
		</button>				
		
		<br>
		
		<button class="small-5 small-offset-1 columns" ng-click="offcanvasToggle('page3')">
			<i class="fa fa-bookmark-o fa-2x"></i>
			<br>
			<small>Carousel</small>	
		</button>	
		
		<br>
		
		<button class="small-5 columns" ng-click="offcanvasToggle('page4')">
			<i class="fa fa-bookmark-o fa-2x"></i>
			<br>
			<small>Testbed</small>	
		</button>	
		
		<button class="small-6 small-offset-1 columns" ng-click="offcanvasToggle('page5')">
			<i class="fa fa-bookmark-o fa-2x"></i>
			<br>
			<small>Firebase</small>	
		</button>	
		
		<button class="small-8 secondary columns" ng-click="offcanvasToggle('page6')">
			<i class="fa fa-bookmark-o fa-2x"></i>
			<br>
			<small>FileUpload</small>	
		</button>	
		
		<br>		

		
		<button  class="small-12 button alert columns" ng-click="close('')">
			<i class="fa fa-caret-square-o-left fa-2x"></i>
			<br>
			<small>Close</small>	
		</button>		
		
			

	</div>	
</div>
				
