		<div class="row">
			<div class="small-12 columns">
				<centered>		
					<br><br><br><br>
					<small>Thinking!  It hurts!</small>
					<wave-spinner></wave-spinner>	
				</centered>
			</div>
		</div>