<div class="" ng-init="init()">


	

	<!-- header -->
	<div style="position: fixed; top: 10%; left: 2%; z-index: 99999; color: white">
		<h4>Parallax Demo</h4>
		<h5>by Allen Royston</h5>
	</div>
	<br><br><br><br>
	
	<div class="row">
		<div class="small-6 columns scroll-pattern-1" data-speed="-2" data-offset="0" data-type="background">
				<div style="height: 600px">
					<centered>
						
						<h4>Speed -2</h4>
						<br><br>
						
					</centered>
				</div>		
		</div>	
		<div class="small-6 columns scroll-pattern-2" data-speed=".5" data-offset="0" data-type="background">
				<div style="height: 600px">
					<centered>
						
						<h4>Speed .5</h4>
						<br><br>
						
					</centered>
				</div>		
		</div>				
	</div>
	<hr>		
	
	
	<!-- Section -->
	<div class="scroll-pattern-1" data-speed="4" data-offset="0" data-type="background">
		<div style="width: 100%; text-align: center; padding-top: 200px">
			<h1 class="largeFont" >SECTION 1</h1>
			<small>Speed: 4</small>
		</div>
		<img src="media/parallax/iphone5.png"  style="width: 100%"/>
	</div>
	
	
	<!-- Section -->
	<div class="scroll-pattern-2" data-speed="10" data-offset="0" data-type="background">
		<div style="width: 100%; text-align: center; padding-top: 200px">
			<h1 class="largeFont" >SECTION 2</h1>
			<small>Speed: 10</small>
		</div>
		<img src="media/parallax/iphone5.png"  style="width: 100%"/>
	</div>

	
	<!-- Section -->
	<div class="scroll-pattern-1" data-speed="2" data-offset="0" data-type="background">
		<div style="width: 100%; text-align: center; padding-top: 200px">
			<h1 class="largeFont" >SECTION 3</h1>
			<small>Speed: 2</small>
		</div>
		<img src="media/parallax/iphone5.png"  style="width: 100%"/>
	</div>
	
	
	<!-- Section -->
	<div class="scroll-pattern-2" data-speed="1" data-offset="0" data-type="background">
		<div style="width: 100%; text-align: center; padding-top: 200px">
			<h1 class="largeFont" >SECTION 4</h1>
			<small>Speed: 1</small>
		</div>
		<img src="media/parallax/iphone5.png"  style="width: 100%"/>
	</div>	
	
	<!-- Section -->
	<div class="scroll-pattern-1" data-speed="0" data-offset="0" data-type="background">
		<div style="width: 100%; text-align: center; padding-top: 200px">
			<h1 class="largeFont" >SECTION 5</h1>
			<small>Speed: 0</small>			
		</div>
		<img src="media/parallax/iphone5.png"  style="width: 100%"/>
	</div>	
	
	<!-- Section -->
	<div class="scroll-pattern-2" data-speed="-2" data-offset="0" data-type="background">
		<div style="width: 100%; text-align: center; padding-top: 200px">
			<h1 class="largeFont" >SECTION 6</h1>
			<small>Speed: -2</small>
		</div>
		<img src="media/parallax/iphone5.png"  style="width: 100%"/>
	</div>	
	
	
	<!-- Section -->
	<div class="scroll-pattern-1" data-speed="5" data-offset="0" data-type="background">
		<div style="width: 100%; text-align: center; padding-top: 200px">
			<h1 class="largeFont" >SECTION 7</h1>
			<small>Speed: 5</small>
		</div>
		<img src="media/parallax/iphone5.png"  style="width: 100%"/>
	</div>	
	
			
</div>	




