<div class="" ng-init="init()">
	<!-- WRAPPER -->
	<br><br>
	<a  class="" tooltip-popup-delay="1500" tooltip-placement="right" tooltip="Hello, World!">dynamic</a>

			
		  <tabset>
		    <tab heading="Static title">Static content</tab>
		    <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active">
		      {{tab.content}}
		    </tab>
		    <tab select="alertMe()">
		      <tab-heading>
		        <i class="fa fa-bell"></i> Alert!
		      </tab-heading>
		      I've got an HTML heading, and a select callback. Pretty cool!
		    </tab>
		  </tabset>

	
	<div id="main-wrapper">
			<div id="game-wrapper" class="">  <!-- ADD ROW TO CLASS IF YOU WANT IT TO STAY CENTERED -->

				<div id="game-grid-container"   class="small-12"   ng-style="{'height': aspectHeight + 'px', 'border': container_border_size + 'px solid black'}" tabindex="0" ui-keydown="{'left right up down space enter':'io.keypressCallback($event)'}">
					
	
					<!-- PROGRESS BAR -->
					<div id="progressBar" class="small-2 small-offset-5 img-rounded" ng-class="{true:'progressfadeOut', false:'progressfadeIn'}[assetsLoaded==totalAssets]" ng-style="{'z-index': layer_fg1 + 150}">
						<centered>
                            <h3>Loading Assets...</h3>
                            <hr>
                                <progress-arc
                                        size="75"
                                        stroke="orange"
                                        stroke-width="15"
                                        complete=(assetsLoaded/totalAssets)

                                        background="#eee">
                                </progress-arc>
                            <hr>
                            <h5>{{(assetsLoaded/totalAssets)*100 | number:0 }}%</h5>
                            <br>
                        </centered>
					</div>	

					<!-- TOP BAR -->
					<div id="game-grid-top" ng-style="{'z-index': layer_fg1 + 50}" class="hideForLoad">
							<!-- INFO -->
							<div id="game-grid-top-seciton" class="small-12 columns" >
								<div class="small-1 columns pull-left"><small><i class="fa fa-download"></i>{{loadPercentage}}%</small></div>
								<div class="small-2 columns pull-left"><small>Resolution ({{resolution_type | uppercase}}):  {{resolution_x}}x{{resolution_y}} </small></div>
								<div class="small-2 columns pull-left"><small>Active Canvas: {{activeCanvas}}</small></div>
                                <div class="small-2 columns pull-left"><small>Currently Selected: {{currentlySelectedObject.component.type + currentlySelectedObject.component.name}}</small></div>

                                <div class="small-2 columns pull-right pointer" ng-click="web.callModal()" ><centered><i class="fa fa-gears"></i></centered></div>
								<div class="small-2 columns pull-right"><small>Touching: {{touchingObject.component.type}}{{touchingObject.component.name}}</small></div>
								<!--
                                <div class="small-2 columns pull-right" ng-click="camera.toggleTopdown()"><centered><small>Screen: {{container_width}}x{{container_height}}</small></centered></div>

								<div class="small-2 columns pull-right" ><centered><small>Mouse {{mouseCoords.x}},{{mouseCoords.y}}</small></centered></div>
								-->
							</div>	
									
							<!-- HIDDEN WINDOWS -->
							<div id="hidden-windows-container" ng-repeat="item in hiddenWindows" class="" >
									<div class="game-small-window" style="margin-top: 10px" >
										<div class="game-window-description pointer" ng-click="system.restoreWindow(item.id, $index);">
										<centered><small>{{item.description | characters:12  | uppercase }}</small></centered>
										</div>
										<div class="game-window-options">											
											<i class="fa fa-desktop pointer to-green" ng-click="system.restoreWindow(item.id, $index)"></i>&nbsp;
											<i class="fa fa-times-circle pointer to-red" ng-class="{false: 'hidden'}[item.allowRemove]" ng-click="system.removeWindow(item.id, $index)"></i>
										</div>
										
									</div>
							</div>						
					</div>

					<!-- BOTTOM BAR-->
					<div id="game-grid-bottom" ng-style="{'z-index': layer_fg1 + 50}" class="hideForLoad">
							<!-- INFO -->
							<div class="">
								<div class="small-2 columns pull-left"> <small><i class="fa fa-camera"></i> x:{{canvasCSS[activeCanvas].cX}}  y:{{canvasCSS[activeCanvas].cY}}  z:{{canvasCSS[activeCanvas].cZ}}  </small></div>
								<div class="small-2 columns pull-left pointer"  ng-click="io.selectCameraType('translate')" >	<centered><i class="fa fa-cube"></i> : <small> T:{{canvasCSS[activeCanvas].tX}}, {{canvasCSS[activeCanvas].tY}}, {{canvasCSS[activeCanvas].tZ}} </small></centered></div>
								<div class="small-2 columns pull-left pointer"  ng-click="io.selectCameraType('rotate')" >		<centered><i class="fa fa-cubes"></i> : <small> R: {{canvasCSS[activeCanvas].rX}}, {{canvasCSS[activeCanvas].rY}}, {{canvasCSS[activeCanvas].rZ}} </small></centered></div>
								<div class="small-2 columns pull-left pointer"  ng-click="io.selectCameraType('zoom')" >		<centered><i class="fa fa-arrows"></i> : <small> Z:{{canvasCSS[activeCanvas].rZ}} </small></centered></div>
								<div class="small-2 columns pull-left pointer"  ng-click="io.selectCameraType('perspective')">	<centered><i class="fa fa-eye"></i> : <small> {{canvasCSS[activeCanvas].p}} </small> </centered></div>
								<div class="small-2 columns pull-right pointer" ng-click="canvas.getCanvasDefaults()"><centered><i class="fa fa-sliders"></i></centered></div>
							</div>
					</div>


                    <!-- TOOL SELECTOR -->
                    <div id="ui-toolbar" ng-style="{'z-index': layer_fg1 + 100}" class="hideForLoad draggable"  ng-mouseover="touchingWindow=true" ng-mouseleave="touchingWindow=false">
                        <div class="closeBtn" ng-click="system.hideWindow('#ui-toolbar', 'Toolbar', false)"><centered><i class="fa fa-times-circle"></i></div></centered>
                       <br><br>
                        <div class="row">
                            <button class="tiny small-12"><i class="fa fa-cube"></i></button>
                            <button class="tiny small-12"><i class="fa fa-globe"></i></button>
                            <button class="tiny small-12"><i class="fa fa-square-o"></i></button>
                            <button class="tiny small-12"><i class="fa fa-cube"></i></button>
                            <button class="tiny small-12"><i class="fa fa-cube"></i></button>
                        </div>

                    </div>


                    <!-- EVENT BUILDER -->
                    <div id="ui-eventbuilder" ng-style="{'z-index': layer_fg1 + 15}" class="hideForLoad draggable"  ng-mouseover="touchingWindow=true" ng-mouseleave="touchingWindow=false">
                        <div class="closeBtn" ng-click="system.hideWindow('#ui-eventbuilder', 'Event Builder', false)"><centered><i class="fa fa-times-circle"></i></div></centered>
                        <div class="small-12 columns">
                            <br>
                            <div ng-class="{false: 'hidden'}[eb_step1]">
                                <p>Select an object:</p>
                                <select ng-model="eb_componentList_selected" ng-change="web.eventBuilder_selectEvent()" ng-options="list as list.name for list in eb_componentList">
                                    <option value="">Select an object: </option>
                                </select>
                            </div>


                            <div ng-class="{false: 'hidden'}[eb_step2]">
                                <p>Select an event:</p>
                                <select ng-model="eb_eventsList_selected" ng-change= "web.eventBuilder_selectBind()" ng-options="list as list.name for list in eb_eventsList">
                                    <option value="">Select an event: </option>
                                </select>
                            </div>


                            <div ng-class="{false: 'hidden'}[eb_step2a]">
                                <p>Link it to:</p>
                                <select ng-model="eb_linkList_selected" ng-change="web.eventBuilder_selectLink()" ng-options="list as list.name for list in eb_linkList">
                                    <option value="">Link to component: </option>
                                </select>
                            </div>

                            <!--
                            <div ng-class="{false: 'hidden'}[eb_step3]">
                                <p>Bind to an event:</p>

                                    <button class="tiny small-12" ng-click="web.eventBuilder_eventBind('onClick')">onClick</button>
                                    <button class="tiny small-12" ng-click="web.eventBuilder_eventBind('onHover')">onHover</button>
                                    <button class="tiny small-12" ng-click="web.eventBuilder_eventBind('onLoop')">onLoop</button>

                            </div>
                            -->

                            <div>
                                <p>Link to an event:</p>

                                <button class="tiny small-12" ng-click="web.eventBuilder_linkBind('onClick')">onClick</button>
                                <button class="tiny small-12" ng-click="web.eventBuilder_linkBind('onHover')">onHover</button>
                                <button class="tiny small-12" ng-click="web.eventBuilder_linkBind('onLoop')">onLoop</button>

                            </div>



                        </div>
                    </div>


					<!-- INFO A -->
					<div id="game-grid-bottom-info-a" ng-style="{'z-index': layer_fg1 + 25}" class="hideForLoad">
						<div class="closeBtn" ng-click="system.hideWindow('#game-grid-bottom-info-a', 'Help', true)"><centered><i class="fa fa-times-circle"></i></div></centered>
						<div class="small-12 columns">
							<centered>
								<br>
							<p>Use your arrow keys to change window shape.  You can select translate, rotate, or zoom.
							Use the mouse to move around the 3D plane.  Click to change windows.</p>
							</centered>
						</div>
					</div>
					
					<!-- INFO B -->
					<div id="game-grid-bottom-info-b" ng-style="{'z-index': layer_fg1 + 75}" class="hideForLoad">
						<div class="closeBtn" ng-click="system.hideWindow('#game-grid-bottom-info-b', 'Buttons', false)"><centered><i class="fa fa-times-circle"></i></div></centered>
						<div class="small-12 columns">							

							
							<button class="button tiny" ng-click="testing.screenLayout(3)"><i class="fa fa-laptop"> 1</i></button>
							<button class="button tiny" ng-click="testing.screenLayout(4)"><i class="fa fa-laptop"> 2</i></button>
							<button class="button tiny" ng-click="testing.screenLayout(5)"><i class="fa fa-laptop"> 3</i></button>	
							<button class="button tiny" ng-click="testing.screenLayout(6)"><i class="fa fa-cubes"> B</i></button>	
							<button class="button tiny" ng-click="testing.screenLayout(7)"><i class="fa fa-cubes"> T</i></button>
							<button class="button tiny" ng-click="testing.screenLayout(2)"><i class="fa fa-h-square"> H</i></button>	
							<br>
							
							<button class="button tiny" ng-click="testing.rebuild(0)">Reset</button>
							<button class="button tiny" ng-click="testing.pause()"><i  ng-class="{ready:'fa fa-pause', pause:'fa fa-play'}[canvasData[activeCanvas].status]"></i> &nbsp;{{canvasData[activeCanvas].status}}</button>
							<button class="button tiny" ng-click="testing.togglePP()"><i  ng-class="{ready:'fa fa-pause', pause:'fa fa-play'}[canvasData[activeCanvas].usePostProcessing]"></i> Use Post Processing: &nbsp;{{canvasData[activeCanvas].usePostProcessing}}</button>
							<button class="button tiny" ng-click="testing.tween(0)">Tween</button>
							
							<!--						
							<button class="button tiny" ng-click="testing.pauseAll()"><i class="fa fa-pause"></i> Pause All</button>
							<button class="button tiny" ng-click="testing.unpauseAll()"><i class="fa fa-play"></i> Unpause All</button>
							-->							
							<hr>							
							<br>
		
								<button class="button tiny" ng-click="testing.addToCanvas(10)">Add Skybox</button>															
								<button class="button tiny" ng-click="testing.addToCanvas(0)">Add Plane</button>
								<button class="button tiny" ng-click="testing.addToCanvas(1)">Add Sphere</button>
								<button class="button tiny" ng-click="testing.addToCanvas(2)">Add Cube</button>
								<br>
							
								<button class="button tiny" ng-click="testing.addParticle('rain')">Add Rain</button>
								<button class="button tiny" ng-click="testing.addParticle('snow')">Add Snow</button>
								<button class="button tiny" ng-click="testing.addParticle('dust')">Add Dust</button>
								<button class="button tiny" ng-click="testing.addParticle('ballroom')">Add Balls</button>							
								<br>								
								
								<button class="button tiny" ng-click="testing.changeGravity(0)">Y: Normal</button>
								<button class="button tiny" ng-click="testing.changeGravity(1)">Y: Reverse</button>
								<button class="button tiny" ng-click="testing.changeGravity(2)">Y: None</button>				
								<br>
								
								<button class="button tiny" ng-click="testing.changeWindX(0)">X: East</button>
								<button class="button tiny" ng-click="testing.changeWindX(1)">X: West</button>
								<button class="button tiny" ng-click="testing.changeWindX(2)">X: None</button>							
								<br>							
								
								<button class="button tiny" ng-click="testing.changeWindZ(0)">Z: North</button>
								<button class="button tiny" ng-click="testing.changeWindZ(1)">Z: South</button>
								<button class="button tiny" ng-click="testing.changeWindZ(2)">Z: None</button>							
								<br>								

								<button class="button tiny hidden" ng-click="testing.render()"><i class="fa fa-stop"></i> Render Toggle: {{canvasData[activeCanvas].render}}</button>
								<button class="button tiny hidden" ng-click="testing.renderOnly()"><i class="fa fa-stop"></i> Render Only This</button>
								<button class="button tiny hidden" ng-click="testing.renderAll()"><i class="fa fa-stop"></i> Render All</button>
								<button class="button tiny hidden" ng-click="testing.unrenderAll()"><i class="fa fa-stop"></i> Unrender All</button>
								<br>
							

								<button class="button tiny" ng-click="testing.changeFilter('film')">Film</button>
								<button class="button tiny" ng-click="testing.changeFilter('dotScreen')">DotScreen</button>
								<button class="button tiny" ng-click="testing.changeFilter('glitch')">Glitch</button>
								<button class="button tiny" ng-click="testing.changeFilter('RGBShift')">RGB</button>	
								<button class="button tiny" ng-click="testing.changeFilter('sepia')">Sepia</button>			
								<button class="button tiny" ng-click="testing.changeFilter('bloom')">Bloom</button>
								<button class="button tiny" ng-click="testing.changeFilter('bleach')">Bleach</button>
								<button class="button tiny" ng-click="testing.changeFilter('brightness')">Brightness</button>
								<button class="button tiny" ng-click="testing.changeFilter('luminosity')">Luminosity</button>
								
								<br>
								<button class="button tiny" ng-click="testing.changeFilter('colorCorrection')">Color Correct</button>
								<button class="button tiny" ng-click="testing.changeFilter('colorify')">Colorify</button>
								<button class="button tiny" ng-click="testing.changeFilter('hueSaturation')">Saturate</button>
								<button class="button tiny" ng-click="testing.changeFilter('kaleido')">Kaleido</button>
								<button class="button tiny" ng-click="testing.changeFilter('mirror')">Mirror</button>
								<button class="button tiny" ng-click="testing.changeFilter('vignette')">Vignette</button>
								<button class="button tiny" ng-click="testing.changeFilter('horizontalBlur')">H Blur</button>
								<button class="button tiny" ng-click="testing.changeFilter('verticalBlur')">V Blur</button>	
								<button class="button tiny" ng-click="testing.changeFilter('focus')">Focus</button>
								<br>	
								
								
								
								<br>	
						</div>
					</div>
					
					<!-- INFO C -->
					<div id="game-grid-bottom-info-c" ng-style="{'z-index': layer_fg1 + 25}" class="hideForLoad">
						
						<div class="small-12">
								<button class="tiny" style="margin-left: 5px" ng-class="{null: 'pull-left', 0: 'pull-left', 1:'pull-right'}[activeCanvas]" ng-click="io.selectCameraType('translate')"><centered>TRANSLATE</centered></button>
								<button class="tiny" style="margin-left: 5px" ng-class="{null: 'pull-left', 0: 'pull-left', 1:'pull-right'}[activeCanvas]" ng-click="io.selectCameraType('rotate')"><centered>ROTATE</centered></button>
								<button class="tiny" style="margin-left: 5px" ng-class="{null: 'pull-left', 0: 'pull-left', 1:'pull-right'}[activeCanvas]" ng-click="io.selectCameraType('zoom')"><centered>ZOOM</centered></button>
								<button class="tiny" style="margin-left: 5px" ng-class="{null: 'pull-left', 0: 'pull-left', 1:'pull-right'}[activeCanvas]" ng-click="system.hideWindow('#game-grid-bottom-info-c', 'T/R/Z', false)"><centered>HIDE</centered></button>
						</div>
					</div>					
					
					
					<!-- FPS CONTAINER -->
					<div id="fpsContainer" ng-style="{'z-index': layer_fg1 + 50}" class="hideForLoad">
						<div class="closeBtn" ng-click="system.hideWindow('#fpsContainer', 'FPS', false)"><centered><i class="fa fa-times-circle"></i></div></centered>
						<br><br>
					</div>


					<!-- 3D CANVAS -->
					<div id="canvasContainers" class="hideForLoad">
					</div>
													

				</div>


		</div>
	</div>
	

	
</div>





