
<div class=""  >

	
	<div id="trueBottom" class="flat-secondary" style="width: 100%">
		<centered>
			<br><br>
			<small>Code & Logic is created by Allen Royston | 2010-2014</small><br>
			<small>Thanks for checking out my site!</small>
			<br><br><br>
			<a class="button tiny" ng-click="open()">Don't Press Me!</a>
			<a class="button tiny" ng-click="testScroll()">Get Dizzy!</a>
		</centered>
	</div>

</div>
			
