	<div class="row">
		<div class="small-12 columns">
			<centered>				
				<br><br>
				<h1> {{pageStatus.errorMsg}}</h1>		
				<img src="media/errors/loginFailure.jpg" />
				<br><br>				
				<h4 class="white-font">
					2013 Olympic Gold Medalist McKayla Maroney is not impressed by your clearly, and now comically, failed hack attempt.  
					Nope, not impressed.  Like at all.  Besides, you really don't want to hack this site.  This is, afterall, 
					where I keep all my tasteful nudes and - while they deserved to be admired and celebrated - have been known to send
					a certain percentage of the population into, what I can only assume, is sexy shock.  Truth be told, the average person simply cannot witstand
					the sheer amount of unbridled masculinity that I emit and I will not be held responsible for your subsequent face explosion.
					<br><br>					 
					Just give up and go back to looking up cats on the internet, because I'm employing all manners of magic, math and SCIENCE! to ensure that
					you'll never defeat my amazing cryptomagic witchcraftology.
					
				</h4>
				<br><br>	
				<br>
			</centered>
		</div>		
	</div>	