<!-- CHANGE RESOLUTION MODAL -->
<script type="text/ng-template" id="changeResolutionModal.html">
	<div style="max-width: 800px; width: 100%" class="modal-body">
		<h3>Select resolution setting:</h3>
		<br><br>
		<centered>
			<button class="button" ng-click="select('ultra')" style="margin: 5px">Ultra</button>
			<button class="button" ng-click="select('high')"  style="margin: 5px">High</button>
			<button class="button" ng-click="select('med')"  style="margin: 5px">Medium</button>
			<button class="button" ng-click="select('low')"  style="margin: 5px">Low</button>
		</centered>
		<a class="close-reveal-modal" ng-click="cancel()"><i class="fa fa-caret-square-o-left"></i></a>

	</div>
</script>
	<!-- END MODAL -->
